{% extends "base.html" %}

{% block title %}
  Contact Page
{% endblock %}

{% block content %}
<div class="container mt-5">
  <header>
    <h1>Sora Serizawa</h1>
    <img src="https://i.ibb.co/5M9Lykh/sora-1.png" class="circle-image" height="300" alt="Sora">
    <h1>Contact Information</h1>
    <h3>AKA: Sora, yoSora, Serizawa</h3>
    <p><strong>Discord:</strong> sora_xd</p>
    <p><strong>Genshin UID:</strong> 818195713</p>
    <p><strong>Email:</strong> <a href="mailto:soraserizawaxd@gmail.com">soraserizawaxd@gmail.com</a></p>
    <p>Feel free to join my Discord server by clicking this link:</p>
    <button class="custom-button" onclick="window.location.href='https://discord.gg/Kcb3cHJR7c';">Join Discord</button>
</section>
  </header>
</div>
{% endblock %}
