{% extends "base.html" %}

{% block title %}
  Games Page
{% endblock %}

{% block content %}
  <header>
    <h1>🎮 My Favorite Games</h1>
    <p>Welcome to the Games section! Here’s a list of games I love:</p>
    <ul>
      <li>20 Minutes Till Dawn</li>
      <li>Apex Legends</li>
      <li>ARK: Survival Evolved</li>
      <li>ARK: Survival Of The Fittest</li>
      <li>Backrooms: Realm of Shadows</li>
      <li>Battlefield™ V</li>
      <li>Brawlhalla</li>
      <li>Call of Duty®</li>
      <li>Counter-Strike 2</li>
      <li>Crab Game</li>
      <li>Dead by Daylight</li>
      <li>Demon Peak</li>
      <li>Demonologist</li>
      <li>DEVOUR</li>
      <li>Escape Room - The Sick Colleague</li>
      <li>Escape the Backrooms</li>
      <li>Fallout Shelter</li>
      <li>Forza Horizon 4</li>
      <li>Genshin Impact</li>
      <li>Golf With Your Friends</li>
      <li>Growtopia</li>
      <li>Hatsune Miku: Project DIVA Mega Mix+</li>
      <li>Hogwarts Legacy</li>
      <li>HoloCure - Save the Fans!</li>
      <li>HonkaiImpact 3rd</li>
      <li>Is It Wrong to Try to Pick Up Girls in a Dungeon? Infinite Combat</li>
      <li>It Takes Two</li>
      <li>Jeepney Simulator 2</li>
      <li>Just Act Natural</li>
      <li>Keep Talking and Nobody Explodes</li>
      <li>Left 4 Dead 2 - Update Queued</li>
      <li>Lethal Company</li>
      <li>MIR4</li>
      <li>MONSTER HUNTER RISE</li>
      <li>Monster Hunter: World</li>
      <li>Muck</li>
      <li>MultiVersus</li>
      <li>One-armed cook</li>
      <li>One-armed robber</li>
      <li>Pacify</li>
      <li>Paunch</li>
      <li>Phasmophobia</li>
      <li>PICO PARK</li>
      <li>Poppy Playtime</li>
      <li>Portal</li>
      <li>Portal 2</li>
      <li>PUBG: BATTLEGROUNDS</li>
      <li>ROUNDS</li>
      <li>Sky: Children of the Light</li>
      <li>Strinova</li>
      <li>Super Auto Pets</li>
      <li>Supermarket Together - Update Queued</li>
      <li>TEKKEN 7</li>
      <li>Tekken 8</li>
      <li>Terraria</li>
      <li>The Forest</li>
      <li>The Sims™ 4</li>
      <li>Wuthering Waves</li>
      <li>Zenless Zero</li>
    </ul>
  </header>
{% endblock %}

